<app-header></app-header>
<app-navbar></app-navbar>
<!-- <app-home></app-home> afficher le html de la page Home sans passer par le fichier routing -->
<div class="row">
  <div class="col s3">
    <div class="collection">
      <a routerLink="" class="collection-item">Home</a>
      <a routerLink="demo/demo1" class="collection-item">Demo 1: Binding de propriétés</a>
      <a routerLink="demo/demo2" class="collection-item">Demo 2: Two way Binding</a>
      <a routerLink="demo/demo3" class="collection-item">Demo 3: Event Binding</a>
      <a routerLink="demo/demo4" class="collection-item">Demo 4: Page 404</a>
      <a routerLink="demo/demo5" class="collection-item">Demo 5: Pipe</a>
      <a routerLink="demo/demo6" class="collection-item">Demo 6: Custom Pipe</a>
    </div>
  </div>
  <div class="col s9 ">
    <router-outlet></router-outlet>
    <!-- afficher le routeur -->
  </div>
</div>