<div class="row">

  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Demo 5: Les pipes </span>
        <p>{{ vartxt | uppercase}}</p>
        <p>{{ vartxt}}</p>
      </div>
    </div>
  </div>

  <div class="col s12 ">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"> Demo 5: Les pipes</span>
        <p>{{ varnb | number:'3.1-2'}}</p>
        <p>{{ varnb}}</p>

      </div>
    </div>
  </div>
  <div class="col s12 ">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Demo 5: Les pipes</span>
        <p>{{ vardate | date:'dd/MM/yyyy'}}</p>
        <p>{{ vardate}}</p>
      </div>
    </div>
  </div>
</div>
